<div>
    <h1>Estas son las novedades que tenemos para vos!!!</h1>
    <h2>Viaje a Caminito de Rey</h2> 
    <img scr="../public/images/foto1.jpg" alt="novedades" width="300" height="300"></img>
</div>