/*
font-family: 'Merriweather', serif;
font-family: 'Shadows Into Light', cursive;
*/


/*----------------------------------------------Trabajo el cuerpo-------------------------------------------------------*/

body{
    font-family: 'Merriweather', serif;
    font-size: 12px;
    line-height: 20px;
    background-color: rgb(227, 207, 177);   
}

p{
    text-align: justify;
    font-size: 16px;
}

.holder{
    max-width: 1080px;
    margin: 0 auto;
}

h2{
    font-weight: 400;
    font-size: 20px;
    color: rgb(65, 65, 64);
}

/*----------------------------------------------Trabajo la cabecera----------------------------------------------------*/

header{
    flex-wrap: nowrap;
    background: linear-gradient(-45deg, rgb(125, 223, 230) 20%,rgb(203,255,221) 51%,rgb(246, 238, 14) 100%);;
    padding: 10px;
    height: 100px;
}

header img{
    border-radius: 50%;
    width: 100px;
    display: inline-block;
    margin-top: 0px;
    margin-left: 20px;
}

header h1{    
    font-family: 'Shadows Into Light', cursive;
    font-size: 60px;
    font-style: italic;
    font-weight: 300;
    color: rgb(80, 75, 75);
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 40px;
}

/*---------------------------------------------Trabajo el nav--------------------------------------------------------*/

nav{
    background: linear-gradient(to right, rgb(16, 167, 221), rgb(151, 225, 243));
    border-bottom: 4px solid orange;
    display: block;
    flex-direction: row;
}

nav ul{
    font-style: italic;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /*align-content: flex-start;*/
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: black;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover{
    background-color: orange;

}

nav ul li a.activo{
    background-color: orange;
    font-weight: bolder;
}

/*----------------------------------------------Trabajo con el cuerpo--------------------------------------------------*/

.imageneshome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.imagenhome1{
   /*border: 10px solid rgb(114, 180, 238);*/
}

.imagenhome2{
    /*border: 10px solid rgb(114, 180, 238);*/
}

.imagenhome3{
    /*border: 10px solid rgb(114, 180, 238);*/
}

.imagenhome4{
    /*border: 10px solid rgb(114, 180, 238);*/
}
/*----------------------------------------------Trabajo el footer------------------------------------------------------*/

footer{
    margin-top: 20px;
    background-color: rgb(49, 51, 50);
    clear: both;
    color:aliceblue
    
}

.footer0{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}

.footer2{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

i{
    color: aliceblue;
}

/*-------------------------------------------------Fin HOME------------------------------------------------------------*/

/*-------------------------------------------------Inicio Nosotros----------------------------------------------------*/

.historia p{
    font-size: 14px;
}

.persona{
    border-radius: 5px;
    border: 5px solid rgb(94, 93, 92);
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;/*evita que la caja se agrande ya que tiene dimension de 18%*/
    background-color: rgb(214, 204, 204);
    -webkit-box-align: 1px 25px 29px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 25px 29px -22px rgba(0,0,0,0.75);
    box-shadow: 1px 25px 29px -22px rgba(0,0,0,0.75);
}

.persona p{
    font-size: 12px;
    color: rgb(102, 87, 22);
}

.personas{
    display: flex;
    justify-content: space-between;
}

.persona img{
    border-radius: 50%;
    max-width: 70%;
}

.persona h4, .persona h5{
    font-weight: normal;
    color: rgb(102, 87, 22);
}


/*--------------------------------------------------Fin NOSOTROS-----------------------------------------------------*/

/*--------------------------------------------------INICIO GASTRONOMIA-------------------------------------------*/
.holder h2{
    margin-top: 30px;
}

.comidas{
    height: auto;
    border: 3px solid rgb(102, 87, 22);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    gap: 30px;
    align-items: start;
}

.comida{
    display: flex;
    width: 300px;
    height: 250px;
}

.comida img{
    border-radius: 10px;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0,8;
    transition: .5 ease;
}

.comida img:hover{
    cursor: crosshair;
    width: 250px;
    opacity: 1;
    filter: contrast(120%);
}

.info{
    padding: 20px; 
    width: 65%;
}

.info h2{
    border-bottom: 3px solid orangered;
    font-style: italic;
    padding-bottom: 15px;
    font-weight: 400;
}
.info p{
    font-size: 12px;

}

.comidas:nth-child(even) {
    flex-direction: row-reverse;
}

