<h1>{{title}}</h1>
{{#if conocido}}
<p>Bienvenido/a Usuario {{nombre}} <a href="/salir">Salir</a></p>
{{/if}}


{{#unless conocido}}
<p>Aun no conozco tu nombre, por favor ingresarlo</p>
<form action="/ingresar" method="post">
    <input type="text" name="nombre"><button>Ingresar</button>
</form>
{{/unless}}